<% if flash[:alert] %>
  <div class="flash errors"><%= flash[:alert] %></div>
<% end %>

<% @body_id = 'login' %>
<div id="account" class="col-md-6 col-md-offset-3">
  <div id="existing-customer" class="panel panel-default">
    <div class="panel-heading">
      <%= Spree.t(:login_as_existing) %>
    </div>

    <div class="panel-body">
      <div class="col-md-8 col-md-offset-2">
        <%= render partial: 'spree/shared/login' %>
        <%= Spree.t(:or) %>&nbsp;<%= link_to Spree.t(:create_a_new_account), spree.signup_path %>
        | <%= link_to Spree.t(:forgot_password), spree.recover_password_path %>
      </div>
    </div>
  </div>
</div>
<div data-hook="login_extras"></div>